@import "../../styles/colors.module.scss";

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;

    .contacts-form-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .contacts-form {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text;
        p {
            margin: 0 0 0 .5rem;
            color: $text;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1rem 0 0;
        padding: 0 1rem;
    }
}

.input {
    width: 50%;
    height: 3rem;
    margin: .2rem 0rem 1.5rem;
    border: 1px solid $lightBrown;
    border-radius: 3px;
    text-indent: 1rem;
    font-family: 'Poppins', sans-serif;
    color: $text;
    &:focus {
        outline: 1.5px solid $text;
        border-radius: 3px;
        font-family: 'Poppins', sans-serif;
    }
    &::placeholder{
        font-family: 'Poppins', sans-serif;
        color: rgba(82, 32, 3, 0.644);
        
    }
    &:first-child{
        margin-right: 1rem;
    }
}

.form-control {
    height: 200px;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid $lightBrown;
    border-radius: 3px;
    text-indent: 1rem ;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    color: $text;
    &:focus {
        outline: 1.5px solid $text;
        border-radius: 3px;
    }
    &::placeholder{
        font-family: 'Poppins', sans-serif;
        color: rgba(82, 32, 3, 0.644);
    }
}

.send-form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: $lightBrown;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
}

.form-group {
    width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px){
    .form-container {
        width: 750px;

        .contacts-form-wrapper {
            flex-direction: row;
        }
        .contacts-form {
            justify-content: flex-start;
            
            &:last-child{
                padding-left: .65rem;
            }
        }
    }
}